proteus/*/
proteus/*.pdsbak
proteus/*.workspace
out/*
nbproject/Makefile-local-*.mk
nbproject/*.properties
nbproject/*.bash
nbproject/private/*
build/*
dist/*
debug/*
*.mcw
*.mcs
src/BK.*
!src/BK.asm
